The Email Reply Agent.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 2
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "bdfa065f-1f7a-4a16-816d-5c8b3973136b",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "getAll",
        "filters": {
          "labelIds": [
            "UNREAD"
          ],
          "receivedAfter": "2026-06-06T09:02:00",
          "receivedBefore": "2026-06-06T09:10:00"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        224,
        0
      ],
      "id": "8e1a0acd-5442-4b1e-931c-fcdd77fc8245",
      "name": "Get many messages",
      "webhookId": "d05f82a4-a1d0-4110-9098-6a9554645014",
      "credentials": {
        "gmailOAuth2": {
          "id": "gASRFXh2VGvDTbqw",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{ $json.threadId }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        448,
        0
      ],
      "id": "972c9390-4d05-458e-a54c-787a82e0c8b9",
      "name": "Get a message",
      "webhookId": "e0352490-8044-45f8-a820-95a7d7518b01",
      "credentials": {
        "gmailOAuth2": {
          "id": "gASRFXh2VGvDTbqw",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=I want you to draft an email reply in a very professional way.\nSome things to know I am right not not open to promotions or suggestions, but I am  open for meeting and project discussions as well.\nI want you to reply on this email:  {{ $json.snippet }}\n\nI want you to draft the reply and give me only the body, I don't want you to give me any subject line or anything, jus give me the body text.\n\nMy name is N.Srinikethan",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        672,
        0
      ],
      "id": "216486e1-b4a6-4315-b6bc-05fc4473a3c8",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        592,
        208
      ],
      "id": "6aa7e2ed-9e60-4ce6-bc3f-770f5b069afe",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "bL7eJqc77JwcjjUa",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appkHoLDPcUw2m0YX",
          "mode": "list",
          "cachedResultName": "Untitled Base",
          "cachedResultUrl": "https://airtable.com/appkHoLDPcUw2m0YX"
        },
        "table": {
          "__rl": true,
          "value": "tblgDV8UGxuRLoWcP",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/appkHoLDPcUw2m0YX/tblgDV8UGxuRLoWcP"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Sender Name": "={{ $('Get a message').item.json.labels[2].name }}",
            "From Email": "={{ $('Get a message').item.json.From }}",
            "Email body": "={{ $('Get a message').item.json.snippet }}",
            "Body Draft reply": "={{ $json.output }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Sender Name",
              "displayName": "Sender Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "From Email",
              "displayName": "From Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email body",
              "displayName": "Email body",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Body Draft reply",
              "displayName": "Body Draft reply",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "threadID",
              "displayName": "threadID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        1024,
        0
      ],
      "id": "d766d11a-bc80-4e97-8396-4f1f836d09d7",
      "name": "Create a record",
      "credentials": {
        "airtableTokenApi": {
          "id": "3gUDtyc9WoWX9hkv",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Get a message').item.json.From }}",
        "subject": "Thankyou for Reaching Out!",
        "emailType": "text",
        "message": "={{ $json.fields['Body Draft reply'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1232,
        0
      ],
      "id": "55c0885b-0347-48ee-9273-8effcde78d34",
      "name": "Send a message",
      "webhookId": "069c33de-93d7-4536-98d5-394bb30676b6",
      "credentials": {
        "gmailOAuth2": {
          "id": "gASRFXh2VGvDTbqw",
          "name": "Gmail OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get many messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many messages": {
      "main": [
        [
          {
            "node": "Get a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a message": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Create a record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a record": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "362ecf7f-d0b7-4498-9b62-dce53143ae2c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bfecdfb011aef4f6c710e029c81617a192d2aa768b1fba95b4ff28d3c5013063"
  },
  "nodeGroups": [],
  "id": "egjltU4C0Ck1cWga",
  "tags": []
}